body{
    background-image: url("https://colorhunt.co/palette/4a249d009fbdf9e2aff6f5f5");
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-1{
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
}